p.emptyTextOrder {
    margin-top: -10%;
    margin-left: 35%;
    color: rgba(0, 0, 0, 0.5);
}
ion-item.myorder.item.item-block.item-md {

    padding-left: 0px;
}
h3.orderdate {
    margin-left: 10%;
    margin-bottom: 2%;

}ion-row.ordernumber.row {
    margin-left: 10%;
}ion-item.myorder.item.item-block.item-md {
    margin-top: 5%;
}