
button.outlinebut.disable-hover.button.button-md.button-outline.button-outline-md.button-block.button-block-md {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
	
	    color: #2196f3;
		    border-color:  #2196f3;
    text-align: center;
   border-radius: 3px; 
}
.scroll-content {
    background: #fff;
   
    padding-bottom: 0px !important;
}

button.fullebut.disable-hover.button.button-md.button-default.button-default-md.button-block.button-block-md {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    border-radius: 3px;
    width: 90%;
	background-color: #2196f3;
  
 
    margin-top: 10px;
}
ion-item.item.item-block.item-md.item-input.ng-valid.ng-touched.ng-dirty {
   margin-left: 4%;
   margin-right: 5%;
   width: 90%;
}
ion-item.item.item-block.item-md.item-input.ng-valid.input-has-value.item-input-has-value.ng-touched.ng-dirty {
   margin-left: 4%;
   margin-right: 5%;
   width: 90%;
}
button.fullegoogle.disable-hover.button.button-md.button-default.button-default-md.button-block.button-block-md {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    border-radius: 3px;
    width: 90%;
    margin-top: 10px;

    background-color: red;
}
ion-icon.backicon.icon.icon-md.ion-ios-arrow-back {
    font-size: 31px;
    position: absolute;
    color: white;
    margin-left: 10px;
    margin-top: 10px;
}


ion-item.item.item-block.item-md.item-input.ng-untouched.ng-pristine.ng-valid {
    margin-bottom: 10px;
	    margin-left: 5%;
   width: 90%;
    margin-right: 5%;
}

ion-item.item.item-block.item-md.item-input.ng-untouched.ng-pristine.ng-invalid {
    margin-left: 4%;
    margin-right: 5%;
    width: 90%;
}

ion-item.item.item-block.item-md.item-input.ng-invalid.input-has-value.item-input-has-value.ng-touched.ng-dirty {
  margin-left: 4%;
    margin-right: 5%;
    width: 90%;
}

ion-item.item.item-block.item-md.item-input.ng-invalid.ng-touched.ng-dirty {
    margin-left: 4%;
    margin-right: 5%;
    width: 90%;
}
small {
    font-size: 80%;
    color: red;
    margin-left: 8%;
    font-style: italic;
}
ion-icon.l_email.icon.icon-md.ion-ios-mail-outline {
    font-size: 1.6em;
    font-weight: bold;
}
ion-icon.l_pass.icon.icon-md.ion-ios-lock-outline {
    font-size: 1.6em;
    font-weight: bold;
}