img.order_back {
    position: absolute;
}
ion-label.con1.label.label-md {
	position: absolute;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 18% !important;
    font-size: 40px !important;
    margin-top: 18% !important;
}

ion-label.con2.label.label-md{
    position: absolute;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    margin-left: 20% !important;
    font-size: 25px !important;
    margin-top: 34% !important;
}
ion-label.con3.label.label-md {
    position: absolute;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    margin-left: 23% !important;
    font-size: 16px !important;
    margin-top: 44% !important;
}
img.order_logo {
    position: absolute;
    height: 18%;
    width: 75%;
    margin-top: 60%;
    margin-left: 13%;
}
ion-label.con4.label.label-md {
    position: absolute;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    margin-left: 20% !important;
    font-size: 25px !important;
    margin-top: 103% !important;
}
ion-label.con5.label.label-md {
    position: absolute;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    margin-left: 35% !important;
    font-size: 16px !important;
    margin-top: 114% !important;
}
ion-label.con6.label.label-md {
    position: absolute;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    margin-left: 48% !important;
    font-size: 16px !important;
    margin-top: 139% !important;
}
button.track_order.disable-hover.button.button-md.button-default.button-default-md.button-block.button-block-md {
    position: absolute;
    margin-top: 126%;
    width: 80%;
    margin-left: 10%;
    background-color: #e0e0e0;
    color: #2196f3;
    border-radius: 4px;
}
button.ctn_shop.disable-hover.button.button-md.button-outline.button-outline-md.button-block.button-block-md {
    position: absolute;
    margin-top: 148%;
    width: 80%;
    margin-left: 10%;
    color: #fff;
    border-radius: 4px;
    border: 2px solid #ffffff;
}
.order_bk {
  background-color: #2196f3;
      height: 100%;
    width: 100%;
}
