
.popover-content {
     top: 0px !important;
    left: 0px !important;
    height: 614px;
}
.profile_image img {
    border-radius: 100%;
    width: 80px;
    height: 80px;
	    margin-top: 7px;
    border: 4px solid #ffffff;
}
ion-app.md [padding], ion-app.md [padding] .scroll-content {
    padding: 8px 0px 0px 0px;
}
ion-label {
    overflow: initial !important;
}
h2.headertext {
    white-space: initial;
    margin-bottom: 8px;
}
.label-md {
    margin: 13px 8px 13px 0 !important;
    font-size: 13px !important;
}
ion-col.column.col {
    max-width: 45%;
}
img.icon20 {
    width: 20px;
    height: 20px;
}h5.header5 {
    color: #000000;
}ion-item.bg.item.item-block.item-md {
    background-color: #51abf3;
}ion-app.md [padding], ion-app.md [padding] .scroll-content {
    padding: 0px 0px 0px 0px;
}ion-col.name.col {
    margin-top: 23px;
    color: #ffffff;
   
}