button.review_btn.disable-hover.button.button-md.button-default.button-default-md.button-block.button-block-md {
   width: 40%;
    height: 25%;
    font-size: 12px;
    margin-left: 10%;
    border-radius: 15px;
   
}
