<!--
  Generated template for the RecentlyviewedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding>



				 <ion-label class="browse">Browse by Category</ion-label>

<ion-slides class="maincat" slidesPerView="3">
   <ion-slide *ngFor="let category of rescall" #slides>
     <img (click)="categorypage(category.category_id,category)"src="http://aryvartdev.com/reload/uploads/product/5e2764aa8fee4dfd6752d06d78196375.jpg" style="margin: 10px; display: inline-block;">

   <ion-label  class="card-titles">{{category.category_name}}</ion-label>
   </ion-slide>
 </ion-slides>
		<hr class="viewline">

   <ion-label class="browse">Latest Brands</ion-label>

  <ion-grid>
   <img src="assets/icon/load_blue.gif" alt="" *ngIf="rowsLen == 0 && mainListlength!=0 ">
    <ion-row *ngFor="let i of rows">
   
      <ion-col *ngFor="let category of mainList | slice:(i*2):(i+1)*2" width-33>
        <ion-card (click)="detailpage(category.product_name,category.product_id)">
      <img  class="recentimg" src="http://aryvartdev.com/reload{{category.image[0].image_url}}" /> 

		            <div class="card-title" >{{getoffer(category.offer)}}</div>
		   <div class="card-text" >{{getdisplytext(category.product_quantity , category.almost_gone)}}</div>
		    <ion-row class="rate">
      <ion-col  style='text-decoration:line-through' >
	  
        €{{category.product_price}}
      </ion-col>
  
      <ion-col class="redrate" >
      €{{getrate(category.product_price,category.offer)}}
      </ion-col>
    </ion-row>
    <ion-label class="categoryname">50K bought this</ion-label>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> 

</ion-content>
