
<ion-content padding>

    <div class="nodata" *ngIf="mainListlength == 0" > No products found.</div>

  <ion-grid>
  <img src="assets/icon/load_blue.gif" alt="" *ngIf="rowsLen == 0 && mainListlength!=0">
    <ion-row *ngFor="let i of rows">
      <ion-col *ngFor="let category of mainList | slice:(i*2):(i+1)*2" width-33>
        <ion-card (click)="detailpage(category.product_name,category.product_id)">
      <img  class="recentimg" src="http://aryvartdev.com/reload{{category.image[0].image_url}}" /> 

		            <div class="card-title" ng-if="category.offer != '' || category.offer != undefined">{{getoffer(category.offer)}}</div>
		   <div class="card-text" >{{getdisplytext(category.product_quantity , category.almost_gone)}}</div> 
		    <ion-row class="rate">
      <ion-col style='text-decoration:line-through' >
	  
        €{{category.product_price}}
      </ion-col>
  
      <ion-col class="redrate" >
      €{{getrate(category.product_price,category.offer)}}
      </ion-col>
    </ion-row>
   <ion-label class="categoryname">50K bought this</ion-label>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> 

</ion-content>